# Python
**/__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Testing
.pytest_cache/

# Databases
*.db
data/

# Env files
.env
.env.*

# Build / packaging
dist/
build/
*.egg-info/

# OS / Editors
.DS_Store
Thumbs.db
.vscode/
.idea/
